<section class="about-section">
  <h1>About J-blog</h1>
  <p>
    Welcome to J-blog, a platform developed by Jedidiah Solomon, a passionate
    software developer with expertise in HTML, CSS, React, Node.js, Express.js,
    WordPress, DevOps, and collaborative development. I am excited to work with
    dynamic teams and further enhance my skills in a professional environment.
  </p>
  <p>
    Throughout my academic and personal projects, I have refined my abilities in
    Software development, consistently delivering high-quality user interfaces
    and responsive web designs. My proficiency in HTML and CSS enables me to
    create visually appealing layouts, while my expertise in JavaScript and
    React allows me to develop interactive and dynamic web applications that
    enhance user experience.
  </p>
  <p>
    I also possess significant knowledge of database management with MySQL and
    MongoDB, as well as experience with back-end services like Appwrite.
    Additionally, I am adept at utilizing WordPress for content management and
    customization to meet client requirements effectively.
  </p>
  <p>
    One of my recent projects includes developing a website for a USA-based NGO,
    <a href="https://noir-united.org/">noir-united.org</a>, showcasing my
    ability to deliver high-quality websites that exceed client expectations.
  </p>
  <p>
    I am eager to contribute my skills and experience to your team and help
    drive the success of your projects. Thank you for considering my
    application. I look forward to the opportunity to collaborate with you.
  </p>
  <p>Best regards,</p>
  <p>Jedidiah Solomon</p>
  <p><strong>Contact:</strong> +2347062957194</p>
  <p>
    <strong>Website:</strong>
    <a href="https://jedidiahsolomon.vercel.app/">jedidiahsolomon.vercel.app</a>
  </p>
  <p>
    <strong>LinkedIn:</strong>
    <a href="https://tinyurl.com/jedidiah-solomon">jedidiah-solomon</a>
  </p>
</section>
